[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/boost"]
	path = dependencies/boost
	url = https://github.com/boostorg/boost.git
